.button-grey {
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: #5a5353;
	color: white;
}

.round-add-btn {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	font-size: 2rem;
	align-self: center;
	justify-self: end;
	grid-area: btn;
	background-color: #237d57;
	color: white;
}
